<script src="http://d3js.org/d3.v3.min.js"></script>


<h3><strong>DIVISION OVERVIEW</strong></h3>
<h2><strong>Grocery Store Chain - North East Division</strong></h2>
<p>May 22 - June 19, 2016</p>

<br />
<table border="1" class="12u">
<tr>
<th colspan="6"><strong>PERFORMANCE AGAINST BUDGET</strong></th>
</tr>
<tr></tr><tr><td colspan="2">
  <div class="rectangle 5u">&nbsp;72%</div><br />
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OF BUDGET THIS PERIOD</h3>
</td>
  <td class="3u">
    <canvas id="myBarChart"></canvas>
    <script>
    var chart = document.getElementById("myBarChart")
    var myBarChart = new Chart(chart, {
      type: 'bar',
      data: data = {
        labels: [],
        datasets: [
          {
            label: "ACTUAL",
            backgroundColor: "#0192B4",
            borderColor: "#0192B4",
            borderWidth: 1,
            hoverBackgroundColor: "#0192B4",
            hoverBorderColor: "#0192B4",
            data: [2356],
          },
          {
            label: "BUDGET",
            backgroundColor: "#C7CDCE",
            borderColor: "#C7CDCE",
            borderWidth: 1,
            hoverBackgroundColor: "#C7CDCE",
            hoverBorderColor: "#C7CDCE",
            data: [3012],
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
    </script><br />
    <p>This Period</p>
  </td>
<td class="3u">
    <canvas id="myBarChart2"></canvas>
    <script>
    var chart = document.getElementById("myBarChart2")
    var myBarChart = new Chart(chart, {
      type: 'bar',
      data: data = {
        labels: [],
        datasets: [
          {
            label: "ACTUAL",
            backgroundColor: "#0192B4",
            borderColor: "#0192B4",
            borderWidth: 1,
            hoverBackgroundColor: "#0192B4",
            hoverBorderColor: "#0192B4",
            data: [2356],
          },
          {
            label: "BUDGET",
            backgroundColor: "#C7CDCE",
            borderColor: "#C7CDCE",
            borderWidth: 1,
            hoverBackgroundColor: "#C7CDCE",
            hoverBorderColor: "#C7CDCE",
            data: [3012],
          }
        ]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero:true
            }
          }]
        }
      }
    });
    </script>
    <br />

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year to Date</p>
</td>
</tr>
</table>
<table border="1" class="8u">
  <tr>
<th colspan="4"><strong>PERFORMANCE OVER TIME</strong></th></tr><tr></tr>
<tr><td>
  <canvas id="myChart" width="200" height="100"></canvas>
  <script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
      labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
      datasets: [
          {
              label: "ACTUAL",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "#0192B4",
              borderColor: "#0192B4",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: [12456, 16086, 21579, 17442, 13111, 15568, 24078, 13456, 19086, 20579, 15442, 14111, 25568, 12456, 16086, 21579, 17442, 13111, 15568, 24078, 13456, 19086, 20579, 15442, 14111, 25568],
          },
          {
              label: "BUDGET",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "#C7CDCE",
              borderColor: "#C7CDCE",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: [21456, 26086, 31879, 24842, 26711, 25968, 33078, 22496, 30086, 29579, 24442, 23111, 28568, 21456, 26086, 31879, 24842, 26711, 25968, 33078, 22496, 30086, 29579, 24442, 23111, 28568],
          },
          {
              label: "IDEAL",
              fill: false,
              lineTension: 0.1,
              backgroundColor: "#00B4A5",
              borderColor: "#00B4A5",
              borderCapStyle: 'butt',
              borderDash: [],
              borderDashOffset: 0.0,
              borderJoinStyle: 'miter',
              pointBorderColor: "rgba(75,192,192,1)",
              pointBackgroundColor: "#fff",
              pointBorderWidth: 1,
              pointHoverRadius: 5,
              pointHoverBackgroundColor: "rgba(75,192,192,1)",
              pointHoverBorderColor: "rgba(220,220,220,1)",
              pointHoverBorderWidth: 2,
              pointRadius: 1,
              pointHitRadius: 10,
              data: [31456, 36086, 39879, 32842, 33711, 35968, 39078, 42496, 36086, 38579, 34442, 31111, 31568, 31456, 36086, 39879, 32842, 33711, 35968, 39078, 42496, 36086, 38579, 34442, 31111, 31568],
          }
      ]
  },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
  </script>
<div class="row"><div class="date 1u -3u">2015</div><div class="date 1u -4u">2016</div></div>
</td></tr>
</table>

<br /><br /><br />



<br />


<p></p>

</div>
