<div class="paragraph">
<h3><strong>Data Dashboard: Readme</h3>
<h4>by Kristin Ruben</strong></h4>
<br />
<p>
<h4>Styling</h4>
<br />
I used a <a href="https://github.com/ajlkn/skel">skel.io</a>-based template for the nav bar and responsive CSS, which I then customized. To match colors with the mockups, I used the Chrome ColorPick Eyedropper extension.


</p>
</div>
