
<div class="paragraph">
  <h3><strong>Data Dashboard: Readme</h3>
    <h4>by Kristin Ruben</strong></h4>
    <br />
    <p>
      <h4>Data Visualization</h4>
      <br />
      To recreate the mockup for Page 1 (with the charts), I first tinkered with Highcharts to see what I could come up with. Unfortunately, I wasn't happy with the results; it wasn't easy to make the charts look anything like the style of the mockups.
      I therefore started looking at other options, including D3. I read the book "Interactive Data Visualization for the Web" by Scott Murray
      and ....
      <br /><br />
      <h4>Styling</h4>
      <br />
      I used a <a href="https://github.com/ajlkn/skel">skel.io</a>-based template for the nav bar and responsive CSS, which I then customized. To match colors with the mockups, I used the Chrome ColorPick Eyedropper extension.
      <br />
      <br />
      <h4>Other Features</h4>
      <br />
      With more time, there are several more features I would have liked to implement, including pagination on the table and linked column headers that sort ascending or descending.
      <br /><br />

    USER STORIES

      <br />


    </p>

  </div>
