/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require ie8
 *= require ie9
 *= require main


 */


.image {
  height: 4em;
  margin: 10px;
}

h3 strong {
  color: #0091B4 !important;
  margin: 0px !important;
}

table th {
  color: #5B6062 !important;
  background-color: #F3F3F3 !important;
  margin: 2em !important;
  border: 1px 1px 1px 1px !important;
  border-color: #FFFFFF !important;
}

.subheaders {
  color: #B0AFAF !important;
  background-color: #FDFDFD !important;

}

.paragraph {
  padding: 4em;
}


body {
  margin: 4em !important;
}
